<!DOCTYPE html>
<html lang="en">
    <style>
    .header-dark{background:#1f2936; color:white; padding:10px;}
    bigcolor{font-size:24px}
    strong{color: #ED178F}
    red {color: red;}
    h1 {color: green;}
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, left=device-left, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
        <p>My mother has <span style="color:blue">blue</span> eyes.</p>
        <p>This is a simple <bigcolor>Streamlit</bigcolor> app with a Jinja2 template.</p>
        <p>We're sorry, that <bigcolor><red>todo</red></bigcolor> item was not found:</p>
        <p>2424242424242424 {{variable_output}}</p>
        <p>2424242424242424</p>
        <p>2424242424242424</p>
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>

{% block head %}
  <style>
    .notfound {
      background-color: gray;
      font-size: 125%;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Not found</h1>
  <p>We're sorry, that <red>todo</red> item was not found:</p>
  <p>My mother has <span style="color:blue"><span style="background-color:red">blue</span></span> eyes.</p>
  <p class="notfound">{{ text }}</p>
{% endblock %}
</body>
</html>
