<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
        <p>This is a simple <bigcolor>Streamlit</bigcolor> app with a Jinja2 template.</p>
        <p class="red">redredred</p>
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
       {{variable_output}}
    </div>

{% block head %}
  <style>
    .notfound {
      background-color: gray;
      font-size: 125%;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Not found</h1>
  <p>We're sorry, that todo item was not found:</p>
  <p class="notfound">{{ text }}</p>
{% endblock %}

    
</body>
</html>
