.header-dark{background:#1f2936; color:white; padding:10px;}
bigcolor{font-size:24px}
strong{color: #ED178F}
red {color: red;}
h1 {color: green;}
div.square{
  width:fit-content;
  height:fit-content;
  text-align: center;
  background: lightblue;
  position:relative;
  #left: {left_position}px;
  #top: {top_position}px;
  z-index: 2;
  padding: 0px 8px 4px 8px;
  border-width: 3px;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
}
div.aa{
  font: bold 20px Courier;
  background-color: blue;
  color: red;
  z-index: 1;
  width:fit-content;
  height:fit-content;
}
div.ttip{
  color:blue;
  padding:2px;
  z-index:1;
  width:fit-content;
  height:fit-content;
}
a.ttip:hover::after{
  content:attr(data-tooltip);
  position:absolute;
  #left: 5px;
  padding:2px;
  color:black;
  background-color:blue;
  z-index:1;

  top: 100%;
  left: 50%;
  margin-left: -5px;
  
}
/* unvisited link */
a:link{color: blue; text-decoration: none;}
/* visited link */
a:visited{color: blue; text-decoration: none;}
/* mouse over link */
a:hover{color: blue; text-decoration: none;}
/* selected link */
a:active{color: blue; text-decoration: none;}




.test1 {
    background-color: green;
    border: 1px solid #DCDCDC;
    padding: 5px;
    border-radius: 10px;
}
